:root {
  /*  Colors */
  --lime-green: hsl(163, 72%, 41%);
  --bright-red: hsl(356, 69%, 56%);
  --facebook: hsl(208, 92%, 53%);
  --twitter: hsl(203, 89%, 53%);
  --instagram: linear-gradient(to right, hsl(37, 97%, 70%), hsl(329, 70%, 58%));
  --youtube: hsl(348, 97%, 39%);
  --white: hsl(0, 0%, 100%);

  /* Light Theme */
  --toggle-light: hsl(230, 22%, 74%);
  --very-pale-blue: hsl(225, 100%, 98%);
  /* (Top BG Pattern) */
  --light-grayish-blue: hsl(227, 47%, 96%);
  /* (Card BG) */
  --dark-grayish-blue: hsl(228, 12%, 44%);
  /* (Text) */
  --very-dark-blue: hsl(230, 17%, 14%);
  /* (Text) */

  /* Dark Theme*/
  --toggle-dark: linear-gradient(to right, hsl(210, 78%, 56%) to hsl(146, 68%, 55%));
  --veryDarkBlue: hsl(230, 17%, 14%);
  /* (BG) */
  --veryDarkBlue: hsl(232, 19%, 15%);
  /* (Top BG Pattern) */
  --darkDesaturatedBlue: hsl(228, 28%, 20%);
  /* (Card BG) */
  --desaturatedBlue: hsl(228, 34%, 66%);
  /* (Text) */
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

p {
  margin: 0;
}

body {
  font-family: 'Inter', sans-serif;
  font-size: 14px;
}

.grid {
  display: grid;
  grid-row-gap: 25px;
}

.wrap {
  padding: 0 30px;
}

.header {
  background: var(--very-pale-blue);
  border-radius: 0 0 20px 20px;
  padding-top: 2.5em;
  padding-bottom: 160px;
  padding-left: 30px;
  padding-right: 30px;
}

.top__section {
  margin-top: -50px;
  margin-bottom: 40px;
}

.section {
  margin-bottom: 25px;
}

.card {
  background: var(--light-grayish-blue);
  border-radius: 5px;
  text-align: center;
  cursor: pointer;
  padding: 32px 20px 25px 20px;
  position: relative;
  transition: background 0.3s;
}

.big__card__social {
  display: flex;
  justify-content: center;
  align-items: center;
}

.medium__card__social {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1.5em;
}

.medium__card__value {
  font-size: 32px;
  font-weight: 700;
  color: var(--very-dark-blue)
}

.medium__card__description {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.medium__card__title {
  color: var(--dark-grayish-blue);
  font-weight: 700;
}

.medium__card__today {
  font-size: .8em;
  display: inline-block;
  color: var(--lime-green);
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card__account {
  margin-left: 10px;
  font-size: 11px;
  font-weight: bold;
  color: var(--dark-grayish-blue)
}

.big__card__value {
  font-size: 3.5em;
  color: var(--very-dark-blue)
}

.big__card__title {
  font-size: .8em;
  text-transform: uppercase;
  letter-spacing: 3px;
  color: var(--dark-grayish-blue)
}

.big__card__today {
  font-size: .8em;
  display: inline-block;
  color: var(--lime-green);
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
}

.big__card__today img,
.medium__card__today img {
  margin-right: 5px;
}

.is-down {
  color: var(--bright-red);
}


.title {
  font-size: 24px;
}

.title__alt {
  color: var(--dark-grayish-blue);
  font-size: 24px;
}

.sub__title {
  font-weight: 700;
  color: var(--dark-grayish-blue)
}

.border-facebook {
  border-top: 4px solid var(--facebook);
}

.border-twitter {
  border-top: 4px solid var(--twitter);
}

.border-instagram {
  border-top: 4px solid var(--lime-green);
}

.border-youtube {
  border-top: 4px solid var(--youtube);
}

.card:hover {
  background: #E0E2F0;
}

.mt-2 {
  margin-top: .5em;
}

.mb-4 {
  margin-bottom: 1.3em;
}

.mb-test {
  margin-bottom: 3em;
}

.mb-test-1 {
  margin-bottom: 1em;
}

.pv-test {
  padding: 2em 0 3em 0;
}

.fondo {
  height: 30vh;
  background: var(--light-grayish-blue);
}

@media screen and (min-width: 480px) {
  .grid {
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 25px;
  }

  .wrap {
    max-width: 1440px;
    margin: auto;
  }
}

@media screen and (min-width: 1240px) {

  .grid {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-column-gap: 25px;
  }
}